var sub = function (val, begin, end) {
  if (val == undefined || val.length == 0) {
    return;
  }
  return val.substring(begin, end);
}
module.exports.sub = sub;

var testCheckRead = function (str,openId){
  //console.log(str+"里有"+openId+"吗");
  if(str.indexOf(openId)>=0){
    return true
  }
  return false
}

module.exports.testCheckRead = testCheckRead;

var shortopenids = function (openids){
  if(openids == null)
    return "无"
  var temp = JSON.parse(JSON.stringify(openids))
  for(var i = 0;i<temp.length;i++){
    temp[i] = temp[i].length > 12 ? temp[i].substring(0,10) + '...':temp[i];
  }
  return temp
}

module.exports.shortopenids = shortopenids;

var subPoint = function(str,len){
  len = len || 12;
  var temp = "" + str;
  if (temp==null)
    return ""
  if(temp.length <= len)
    return temp;
  return temp.substring(0,len + 1)+"...";
}

module.exports.subPoint = subPoint;