var sub = function (val, begin, end) {
  if (val == undefined || val.length == 0) {
    return;
  }
  return val.substring(begin, end);
}
module.exports.sub = sub;

var testCheckRead = function (str,openId){
  console.log(str+"里有"+openId+"吗");
  if(str.indexOf(openId)>=0){
    return true
  }
  return false
}

module.exports.testCheckRead = testCheckRead;